gfn2/*
gfn2/torchgfn/
gfn/src/wandb/*
gfn/wandb/*
wandb/*
gfn/model_0.pt
gfn/src/wandb_export_2024-05-09T17_09_01.063+09_00.csv
gfn/src/wandb_export_2024-05-09T17_40_51.516+09_00.csv
model_0.pt
model_1.pt
model_2.pt
QGFN/
